body{
    display: flex;
    flex-direction: column;
    height:100vh;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    
}

.container{
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: column; 
}

.row{
    display: flex;
    flex-direction: row; 
}